<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="vendor/autoload.php">
	<testsuites>
		<testsuite name="Hello Test Suite">
			<file>tests/My/Hello/CarTest.php</file>
			<file>tests/My/Hello/TankTest.php</file>
		</testsuite>
	</testsuites>
	<php>
		<var name="SOME_CONSTANT_CONFIG" value="Test Value" />
	</php>
</phpunit>

